.adminDashboard {
  margin: 20px;
}

.card {
  height: 100%;
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-footer {
  background-color: #fff;
}

.stretched-link {
  color: #0d9800;
  text-decoration: none;
}

.card-dash {
  border-left: 4px solid #0d9800;
}

